@import "reveal-js/css/theme/template/mixins";
@import "reveal-js/css/theme/template/settings";

$backgroundColor: #fdf7e9;

$mainColor: #55303e;
$headingColor: #55303e;

$mainFontSize: 38px;
$mainFont: 'Fira Code', Helvetica, sans-serif;
$headingFont: 'Fira Code', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #ff3c3e;
$linkColorHover: #f9b59c; //lighten($linkColor, 15%);
$selectionBackgroundColor: #f9b59c; //lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

@import "reveal-js/css/theme/template/theme";

.reveal code {
    font-family: "Fira Code";
    line-height: 130%;
}

section.has-light-background {

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #222;
    }
}

.reveal pre {
    margin: 50px auto;
}